<h1>O Mundo das Raças!</h1>
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive=".active">Início</a></li>
    <li><a routerLink="/animal-facts" routerLinkActive=".active">Fatos curiosos sobre animais</a></li>
    <li><a routerLink="/lista" routerLinkActive=".active">Lista</a></li>
    <li><a routerLink="/cat-details" routerLinkActive=".active">Detalhes do Gato</a></li>
    <li><a routerLink="/dog-details" routerLinkActive=".active">Detalhes do Cão</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>

<div id="fecho">
  <span>Aluno: {{ aluno }}</span>
  <span>Curso: {{ curso }}</span>
  <span>Turma: {{ turma }}</span>
</div>
