<div class="container">
  <h2>Bem-vindo ao Mundo das Raças!</h2>
  <div class="content-row">
    <figure class="animal-figure">
      <img class="animal-image" src="https://cdn2.thedogapi.com/images/sGQvQUpsp.jpg" alt="Cão Border Collie" />
      <figcaption>Cão: Border Collie</figcaption>
    </figure>

    <p>Descubra um universo fascinante de informações sobre raças de cães e gatos com nossa aplicação baseada em APIs.
      Explore características únicas, como temperamento, origem e descrição, enquanto aprecia imagens encantadoras
      desses
      companheiros incríveis.</p>

    <figure class="animal-figure">
      <img class="animal-image" src="https://cdn2.thecatapi.com/images/0XYvRd7oD.jpg" alt="Gato Abyssinian" />
      <figcaption>Gato: Abyssinian</figcaption>
    </figure>
  </div>

  <p>Com integração avançada utilizando as APIs <strong>The Dog API</strong> e <strong>The Cat API</strong>, nossa
    plataforma oferece acesso
    direto a dados detalhados e fotos das raças mais queridas. Cada busca é uma jornada para entender melhor os animais
    que nos acompanham e enriquecem nossas vidas.</p>
  <p>Curioso sobre o temperamento de um Labrador Retriever ou a elegância de um Bengal? Com apenas um clique, você pode
    acessar informações completas e imagens desses animais, conhecendo suas histórias e particularidades.</p>
  <p>Venha mergulhar nesse universo apaixonante! Seja você um tutor experiente ou apenas um admirador, nossa aplicação é
    um convite para explorar e aprender mais sobre o maravilhoso mundo dos nossos amigos de quatro patas!</p>
</div>
